html, body{
	/*background-color: #545344;*/
	background-color: black;
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #051115;
}
#page_container{
	width: 960px;
	background: black url(../images/nav_bg.png) repeat-y;
	/*background-color: #2B252A;*/
	margin: auto;
}
#header{
/*	background: #15191C url(/images/header_photo_bg.jpg) no-repeat 0px -160px;*/
	height: 150px;
	width: 960px;
	color: #87845A;
}
/* BEGIN INLINE NAV BAR---------------------------------------------- */
.posts_inline_nav_bar{
	width:600px;
	float:left;
	clear:both;
	position:relative;
	padding: 0px 5px 10px 0px;
}
.posts_inline_nav_bar_left{
	float:left;
	position:relative;
}
.posts_inline_nav_bar_right{
	float:right;
	position:relative;
}
/* END INLINE NAV BAR---------------------------------------------- */
/* BEGIN BUTTON CLASS ---------------------------------------------- */
.button {
	display: inline-block;
	zoom: 1; /* zoom and *display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}
 
.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}
/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}
/* END BUTTON CLASS---------------------------------------------- */
/* BEGIN POST CREATED CLASS ---------------------------------------------- */
.post_created{
	float:right;	
	clear:right;
	font-size: 10px;
	vertical-align: bottom;
	position:relative;
	margin: 10px;
}
/* END POST CREATED CLASS ---------------------------------------------- */
#login_box{
background: black url(../images/login_box_bg.png) repeat-x;
width:300px;
height:85px;
margin: 30px 30px 30px 30px;
float:right;
border-style: groove;
border-width: 2px;
border-color: #15191C;
-moz-border-radius:	10px;
-webkit-border-radius: 10px;

}
#login_submit{
	margin: -5px 5px 30px 30px;
}
#top_nav{
	background: black url(../images/nav_bg.png) repeat-y;
	height: 30px;
	width:960px;
}
#menu_items{
	height:30px;
	float: left;
}
#menu_items li{
display: inline;
}
#menu_items img{
height: 15px;
margin: 5px 0px 0px 0px;
}
#menu_items  a{
	color: #87845a;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: bold;
	word-spacing: 8px;
	height:20px;
	text-align:right;
	margin: 5px 5px 5px 20px;
	font-size: 12px
}
 #menu_items  a:hover{
	color: #ff8600;
	letter-spacing: 2px;
	text-decoration: none;
	font-weight: bold;
	word-spacing: 8px;
	height:20px;
	text-align:right;
	margin: 5px 5px 5px 20px;
	font-size: 12px;
} 
#follow_box {
	height: 30px;
	width:100px;
	float:right;
}
#tw_follow{
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/twitter_icon.png) no-repeat 0px -30px;
  float:right;
  margin: 0px 20px 5px 5px;
}
#tw_follow:hover{
	background-position: 0px 0px;
} 
#tw_follow span{
	display: none;
} 
#rss_follow{
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/rss_icon.png) no-repeat 0px -30px;
  float:right;
  margin: 0px 5px 5px 5px;
}
#rss_follow:hover{
	background-position: 0px 0px;
} 
#rss_follow span{
	display: none;
}
#post_box{
	background-color: white;
	margin: 10px 20px 5px 20px;
	-moz-border-radius:	10px;
	-webkit-border-radius: 10px;
	clear: both;
}
#post_header{
width: 900px;
height: 10px;
}


#left_post_header{
clear: right;
float: left;
width: 100px;
height: 10px;
}
#right_post_header{
float: right;
clear: right;
width: 800px;
height: 10px;
}
#user_badge{
float: left;
clear: both;
height: 50px;
width: 900px;
}
#user_badge_gravatar{
float: left;
clear: both;
width: 50px;
height: 50px;
padding: 0px 0px 0px 0px;
}
#user_badge_details{
float: left;
clear: right;
width: 250px;
height: 50px;
padding-left: 5px;
}
#user_badge_posts{
float: left;
clear: right;
width: 100px;
height: 50px;
padding-left: 5px;
}
#user_badge_tags{
float: left;
clear: right;
width: 100px;
height: 50px;
padding-left: 5px;
}
#user_badge_tools{
float: left;
clear: right;
width: 100px;
height: 50px;
padding-left: 5px;
}
#user_badge_details_right{
float: right;
clear: right;
width: 100px;
height: 50px;
padding-left: 10px;
padding-top: 5px;
}
#user_badge_details_right img{
padding-left: 10px;
}
#user_badge img.gravatar{
vertical-align: bottom;
}
#user_header_right_qr{
clear: right;
float: right;
margin: 0px 0px 0px 0px;
}
#user_header_hr{
float: right;
margin: 5px 0px 0px 0px;
}
#user_show_navigation{
float: auto;
margin-left: 400px;
padding: 0px 0px 0px 0px;
clear: both;
padding-top: 40px;
}
#message_header{
clear: both;
width: 900px;
height: 30px;
}
#message_header_left_qr{
clear: none;
float: left;
height: 30px;
width: 40px;
}
#message_header_left{
clear: none;
float: left;
height: 30px;
width: 820px;
}
#message_header_right{
clear: none;
float: right;
height: 30px;
width: 40px;
}
#message{
clear: both;
width: 900px;
}
#message img{
float: right;
vertical-align: right;
}
#post_box div.meta_box{
	border-style:groove;
	border-width: 2px;
	border-color:#15191C;
	-moz-border-radius:	10px;
	-webkit-border-radius: 10px;
}
#post_box a{
	text-decoration: none;
	color:#051115
	
}
#post_tags a:hover{
	text-decoration: none;
	background-color:#ff8600;
	padding: 17px 0px 17px 0px;
}
#post_text{
background-color: white;
margin: 10px 10px 10px 10px;
width:900px;
float:left;
}
#tool_box{
	background-color: #87845A;
	margin: 10px 10px 10px 10px;
	width:293px;
	float:right;
}
#post_sources{
	background-color: #87845A;
	margin: 5px 10px 10px 10px;
	width:293px;
	float:right;
}
#post_tags{
	clear:both;
	background-color: #87845A;
	margin: 10px 10px 10px 10px;
	width:293px;
	float:right;
}
#post_tags li{
	display: inline;
}
#post_footer{
	clear:both;
	margin: 5px 5px 0px 5px;
}
#bottom_nav{
	background-color: white;
	margin: 10px 20px 5px 20px;
	-moz-border-radius:	10px;
	-webkit-border-radius: 10px;
	clear: both;}
#footer{
	clear:both;
	background: black url(../images/nav_bg.png) repeat-y;
	/*background: #15191C url(../images/footer_bg.png);*/
	color: #87845A;
	height: 40px;
	margin: 0px 0px 0px 0px;
}
h1 {
	color: #ff8600;
	font-weight:bold;
}
h2{
	color: #2B252A;
	font-weight:bold;
	font-size: 16px;
	margin: 5px 5px 5px 5px;
	background-color: #545344;
	padding: 2px 10px 2px 10px;
	-moz-border-radius:	10px;
    -webkit-border-radius: 10px;
}
h4{
float: left;
height: 10px;
margin: 0px 0px 0px 0px;
font-size: 20px;
}
h6{
	text-align:right;
}
hr{
width: 900px;
clear: both;
margin: 0px 0px 5px 0px;
}
p.author{
font-size: 10px;
text-align: right;
margin: 8px 20px 0px 0px;
vertical-align:middle;
}

