<br>
<br>
<br>
<br>
<hr>
  <div id="message_header">
	<div id="message_header_left">
	<h4>Welcome</h4><p class= "author">by admin</p>
	</div>
<!--	<div id="message_header_right">	-->
	<%= qrcode('http://www.google.com/', 1, 3, 'my-qrcode') %>
<!--	</div>	-->
  </div>
  <div id="message">
	<hr>	
	<p>
  	<b>Body:</b>
	</p>
	<p>
  	<b>Body bg img:</b>
	</p>
  </div>
<br>
<hr>
