<h3>Pages#<%= @title%></h3>
<p>Find me in app/views/pages/home.html.erb</p>
<img src="<%=Gchart.line(:title => 'My Mojo',:data => [[1,2,4,67,100,41,234],[41,63,96,17,100,14,423]],:bg => '666666',:graph_bg => 'cccccc',:line_colors => 'ff0000,00ff00',:legend => ['morning','evening']) %>">
